---
template: internship
status: false
title: VLSI Design and Verification
work-position: VLSI Design Intern
career-prospects: VLSI Design Engineer, VLSI Design Verification Engineer in VLSI Design Centres
sponsor: Project Bhagheerati
start_date: 13th Jul 2020
timings: 9:00am to 1:00pm
duration: 4 Weeks
registration_fee: 2000
registration_link: https://forms.gle/yWvx4zHHed5Qoxc79
image: /images/vlsi-design.png
key_features:
  - Top 5 students will get an opportunity to work in Project Bhageerathi Chip
    Design Center of BNM Institute of Technology
  - Learn from Research Specialists
  - Internship at Skillbot - Education Strategies
  - Explore Design Flow Case Studies
  - Guided Mini-Project
topics_covered:
  - Fundamentals of VLSI Design
  - Formulate and Translate real-life statements to Design Specification
  - Logic Design from Specification
  - Logic Verification by Simulations and Debugging
  - Exposure to Synthesis Flow and Understanding Reports and Logs
  - Hands-on learning through assignments and a mini-project
contacts:
  - contact_name: Dr. Veena S Chakravarthi
    phone_number: +91 98459 80607
    linkedin_url: https://www.linkedin.com/in/veenasc
  - contact_name: Dr. Yasha Jyothi M Shirur
    phone_number: +91 94484 31932
    linkedin_url: https://www.linkedin.com/in/yasha-jyothi-m-shirur
---
