@tailwind base;

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

p{
  @apply font-montserrat;
}

li{
  padding:0.5rem;
}

h1,h2,h3,h4,h5,h6{
  @apply font-raleway;
}

a {
  @apply text-primary;
  @apply font-raleway;
}


@tailwind components;

@tailwind utilities;
